$footer-background: #545150;

.footer {
  font-weight: bold;
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $footer-background;
}

.link {
  color: white;
  text-decoration: none;
}
