$description-background: #545150;

.description-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  max-width: 1200px;
  min-height: 300px;
  width: 100%;
  background-color: $description-background;
}

.show-image {
  width: 180px;
  height: 300px;
}

.show-description {
  width: 600px;
  height: 300px;
}

.show-info {
  width: 300px;
  height: 300px;
}
